.box{
	width: 800px;
	margin: 20px auto;
}

h1{
	margin-top: 0;
	color: #fff;
	font-size: 44px;
	width: 1140px;
}

table{
	width: 100%;
	border: 1px solid cornflowerblue;
	border-collapse: collapse;
	border-spacing: 0;
	text-indent: 0;
}

td{
	border-bottom: 1px solid cornflowerblue;
	border-right: 1px solid cornflowerblue;
	text-align: center;
}

input{
		vertical-align: middle;
		outline: none;
}

#main,.list{
	width: 10%;
}

.chNum .addNum,.deleteNum{
	width: 18px;
	height: 18px;
	border: none;
	box-shadow: 0px 0px 2px 0px royalblue;
	background-color: #4169E1;
	cursor: pointer;
	color: #fff;
	text-align: center;
	line-height: 18px;
	border-radius: 5px;
	font-size: 16px;
}


.chNum .num{
	border: 1px solid #4169E1;
	width: 30px;
	height: 20px;
	text-align: center;
	transition: box-shadow ease-in-out .3s;
}

.chNum .num:focus{
	outline: none;
	box-shadow: 0px 0px 2px 1px #4169E1;
}
.chNum .num