h1{
	margin-top: 0;
	color: #fff;
	font-size: 44px;
	width: 1140px;
}

table{
	width: 500px;
}

table tr td{
	font-size: 18px;
	color: #333;
	font-weight: bold;
}

table a{
	font-size: 16px;
	font-weight: 100;
}
